@import '~antd/dist/antd.css';
.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
	background: #fff;
}

/*

.logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
	background: #fff;
}

[data-theme='dark'] .site-layout .site-layout-background {
	background: #141414;
} */

/* .layout {
	display: grid;
	grid-template-rows: 8vh 92vh;
	grid-template-areas:
		'sidebar header header header header header'
		'sidebar main main main main main';
}

.TheHeader {
	background-color: #e74c3c;
	padding: 10px;
	grid-area: header;
}

.Thesidebar {
	grid-area: sidebar;
	display: flex;
	flex-direction: column;
}

.sideHeader {
	flex: 0.17;
	background-color: aqua;
	border-bottom: 1px solid #4b545c;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.sideMain {
	flex: 2;
	background-color: chartreuse;
	display: flex;
	justify-content: center;
	align-items: center;
}

.TheContent {
	background-color: #16a085;
	padding: 10px;
	grid-area: main;
}

ul {
	list-style: none;
} */
