@import '~antd/dist/antd.css';
.trigger {
	padding: 0 24px;
	font-size: 18px;
	line-height: 64px;
	cursor: pointer;
	transition: color 0.3s;
}

.trigger:hover {
	color: #1890ff;
}

.logo {
	height: 32px;
	margin: 16px;
	background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
	background: #fff;
}

.spinCenter {
	margin: 200px 0;
	margin-bottom: 20px;
	padding: 30px 50px;
	text-align: center;
	background: #fff;
	border-radius: 4px;
}

.classForm {
	padding: 24px;
	background: #fbfbfb;
	border: 1px solid #d9d9d9;
	border-radius: 6px;
}

.menu {
	display: none;
}

.sidebarL {
	height: 100vh;
	/* theme='dark' */
}

.navbar {
	background-color: white;
	padding-left: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.spaceDivider {
	margin-bottom: 10px;
}

/* .sidemenu {
	background: #343a40;
} */

@media (max-width: 768px) {
	.sidebarL {
		display: none;
	}
	.searchHead {
		display: none;
	}
	.trigger {
		display: none;
	}

	.menu {
		display: block;
	}
}

/*

[data-theme='dark'] .site-layout .site-layout-background {
	background: #141414;
} */

/* .layout {
	display: grid;
	grid-template-rows: 8vh 92vh;
	grid-template-areas:
		'sidebar header header header header header'
		'sidebar main main main main main';
}
*/
