html,
body {
	margin: 0;
	padding: 0;
}

.layout {
	display: grid;
	grid-template-rows: 8vh 92vh;
	grid-template-areas:
		'sidebar header header header header header'
		'sidebar main main main main main';
}

.TheHeader {
	background-color: #e74c3c;
	padding: 10px;
	grid-area: header;
}

.Thesidebar {
	background-color: #2980b9;
	padding: 10px;
	grid-area: sidebar;
}

.TheContent {
	background-color: #16a085;
	padding: 10px;
	grid-area: main;
}

ul {
	list-style: none;
}
